{% extends 'temp.html' %}
{% load static %}
{% block tambahancss %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Data Mahasiswa</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% for message in messages %}
                        <h3>{{ message }}</h3>
                        {% endfor %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nama Mahasiswa</th>
                                    <th>NIM</th>
                                    <th>Prodi</th>
                                    <th>Fakultas</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in mhs %}
                                <tr>
                                    <td>{{x.nama}}</td>
                                    <td>{{x.nim}}</td>
                                    <td>{{x.prodi}}</td>
                                    <td>{{x.fakultas}}</td>
                                    <td>
                                        <form action="{{BASE_DIR}}/mahasiswa/delete" class="d-inline" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="idMhs" value="{{x.id}}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        <a href="{{ BASE_DIR }}/mahasiswa/{{ x.id }}" class="btn btn-warning">Ubah</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block tambahanjs %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}